<template>
    <lightning-card title="Account Collection" icon-name="custom:custom14">
        <ul class="slds-list_ordered">
            <template for:each={accounts.data} for:item="account">
                <li key={account.Id}>
                    {account.Name}
                </li>
            </template>
        </ul>
    </lightning-card>
</template>